# Unit Conversion

In [35]:
import pandas as pd
import string

In [ ]:
"""
Convert any volume measurement from the current unit to milliliters
"""
def convert_to_ml(num, unit):
    table = str.maketrans({key: None for key in string.punctuation})
    unit = unit.translate(table).lower().strip()
    the_unit = ""
    
    if "gal" in unit:
        the_unit = "gallon"
        weight = 3785.41
    elif "qu" in unit or "qt" in unit:
        the_unit = "quart"
        weight = 946.353 
    elif "pt" in unit or "pint" in unit:
        the_unit = "pint"
        weight = 473.176
    elif "cup" in unit:
        the_unit = "cup"
        weight = 240
    elif "fl" in unit or "oz" in unit:
        the_unit = "fl oz"
        weight = 29.5735
    elif "tbsp" in unit or "table" in unit:
        the_unit = "tablespoon"
        weight = 14.7868
    elif "tsp" in unit or "tea" in unit:
        the_unit = "teaspoon"
        weight = 4.92892
    elif "m3" in unit or "cubic meter" in unit or "meter" in unit:
        the_unit = "cubic meter"
        weight = 1e6
    elif "ml" in unit or "milli" in unit:
        the_unit = "milliliter"
        weight = 1
    elif "liter" in unit or "l" == unit:
        the_unit = "liter"
        weight = 1000
    elif "cubic foot" in unit or "f3" in unit:
        the_unit = "cubic foot"
        weight = 28316.8
    elif "cubic inch" in unit or "in3" in unit:
        the_unit = "cubic inch"
        weight = 16.3871
        
    output = weight * num
    print('Converted', the_unit, 'to milliliters')
    return(output)

In [37]:
"""
Convert any mass measurement to grams
"""
def convert_to_grams(num, unit):
    table = str.maketrans({key: None for key in string.punctuation})
    unit = unit.translate(table).lower().strip()
    the_unit = ""
    
    if "metric ton" in unit or "mt" in unit or "m t" in unit:
        the_unit = "metric ton"
        weight = 1e6
    elif "kilo" in unit or "kg" in unit:
        the_unit = "kilogram"
        weight = 1000
    elif "gram" in unit or "g" == unit:
        the_unit = "gram"
        weight = 1
    elif "milli" in unit or "mg" in unit:
        the_unit = "milligram"
        weight = 0.001
    elif "micro" in unit or "μg" in unit or "mcg" in unit:
        the_unit = "microgram"
        weight = 1e-6
    elif "ton" in unit or "t" == unit:
        the_unit = "ton"
        weight = 907185
    elif "stone" in unit or "st" == unit:
        the_unit = "stone"
        weight = 6350.29
    elif "pound" in unit or "lb" in unit:
        the_unit = "pound"
        weight = 453.592
    elif "ounce" in unit or "ozs" in unit or "oz" in unit:
        the_unit = "ounces"
        weight = 28.3495
        
    output = weight * num
    print('Converted', the_unit, 'to grams')
    return(output)

## Final Conversion Function

In [38]:
"""
Convert the unit, and let the code decide whether the measurement is
volume or mass
"""
def convert(num, unit, df=None, i=None):
    # Eliminate punctuation and notion of case
    table = str.maketrans({key: None for key in string.punctuation})
    unit = unit.translate(table).lower().strip()
    the_unit = ""
    weight = 0
    volume = False
    mass = False
    
    # Testing for volume
    if "gal" in unit:
        the_unit = "gallon"
        weight = 3785.41
        volume = True
    elif "qu" in unit or "qt" in unit or "q" in unit:
        the_unit = "quart"
        weight = 946.353
        volume = True
    elif "pt" in unit or "pint" in unit:
        the_unit = "pint"
        weight = 473.176
        volume = True
    elif "cup" in unit or 'c' == unit:
        the_unit = "cup"
        weight = 240
        volume = True
    elif "fl" in unit or "oz" in unit:
        the_unit = "fl oz"
        weight = 29.5735
        volume = True
    elif "tbsp" in unit or "table" in unit:
        the_unit = "tablespoon"
        weight = 14.7868
        volume = True
    elif "tsp" in unit or "tea" in unit:
        the_unit = "teaspoon"
        weight = 4.92892
        volume = True
    elif "m3" in unit or "cubic meter" in unit or "meter" in unit:
        the_unit = "cubic meter"
        weight = 1e6
        volume = True
    elif "ml" in unit or "milli" in unit:
        the_unit = "milliliter"
        weight = 1
        volume = True
    elif "liter" in unit or "l" == unit:
        the_unit = "liter"
        weight = 1000
        volume = True
    elif "cubic foot" in unit or "f3" in unit or "feet" in unit:
        the_unit = "cubic foot"
        weight = 28316.8
        volume = True
    elif "cubic inch" in unit or "in3" in unit or "inch" in unit:
        the_unit = "cubic inch"
        weight = 16.3871
        volume = True
      
    # Testing for mass
    elif "metric ton" in unit or "mt" in unit or "m t" in unit:
        the_unit = "metric ton"
        weight = 1e6
        mass = True
    elif "kilo" in unit or "kg" in unit:
        the_unit = "kilogram"
        weight = 1000
        mass = True
    elif "gram" in unit or "g" == unit:
        the_unit = "gram"
        weight = 1
        mass = True
    elif "milli" in unit or "mg" in unit:
        the_unit = "milligram"
        weight = 0.001
        mass = True
    elif "micro" in unit or "μg" in unit or "mcg" in unit:
        the_unit = "microgram"
        weight = 1e-6
        mass = True
    elif "ton" in unit or "t" == unit:
        the_unit = "ton"
        weight = 907185
        mass = True
    elif "stone" in unit or "st" == unit:
        the_unit = "stone"
        weight = 6350.29
        mass = True
    elif "pound" in unit or "lb" in unit:
        the_unit = "pound"
        weight = 453.592
        mass = True
    elif "ounce" in unit or "ozs" in unit or "oz" in unit:
        the_unit = "ounces"
        weight = 28.3495
        mass = True
        
    # Convert the unit
    output = round(weight * num, 3)
    if volume:
        print('Converted', the_unit, 'to milliliters')
        if i != None:
            df.loc[i, 'Volume'] = output
            df.loc[i, 'Mass'] = 0
    elif mass:
        print('Converted', the_unit, 'to grams')
        if i != None:
            df.loc[i, 'Mass'] = output
            df.loc[i, 'Volume'] = 0
    print(output)
    return(output)

## Conversion Testing

In [39]:
import random

In [40]:
# List of some expected input units to the function
units = ['oz', 'ounces', 'ounce', 'gram', 'grams', 'ml', 'l', 'pound', 'lb',
        'ozs', 'stone', 'st', 's.t.', 'milliliters', 'ton', 't', 'micrograms',
        'microgram', 'kilograms', 'kg', 'kilogram', 'metric ton', 'mt', 'm.t',
        'metric tonne', 'cubic inch', 'cubic inches', 'cubic feet', 'f3', 'in3',
        'liter', 'cubic meter', 'm3', 'tsp', 'teaspoons', 'teaspoon', 'tbsp',
        'tablespoons', 'cup', 'cups', 'c', 'floz', 'fluid oz', 'fluid ounces', 
        'quart', 'qu', 'qt', 'pint', 'pt', 'gallons', 'gal']

# Number of random combinations of measurements and units you'd like to test
tests = 50
# list of random measurements
nums = [random.randint(1, 1000) for i in range(tests)]
# list of random indices to choose units from the "units" list above
indices = [random.randint(0, len(units) - 1) for i in range(tests)]

In [41]:
df = pd.DataFrame(columns=["Volume", "Mass"])
for i in range(tests):
    print("INPUT     Num:", nums[i], ', Indices:', units[indices[i]])
    convert(nums[i], units[indices[i]], df=df, i=i)
    print()

INPUT     Num: 289 , Indices: kilograms
Converted kilogram to grams
289000

INPUT     Num: 64 , Indices: teaspoon
Converted teaspoon to milliliters
315.451

INPUT     Num: 198 , Indices: ounce
Converted ounces to grams
5613.201

INPUT     Num: 716 , Indices: teaspoon
Converted teaspoon to milliliters
3529.107

INPUT     Num: 667 , Indices: ozs
Converted fl oz to milliliters
19725.524

INPUT     Num: 958 , Indices: s.t.
Converted stone to grams
6083577.82

INPUT     Num: 572 , Indices: microgram
Converted gram to grams
572

INPUT     Num: 948 , Indices: s.t.
Converted stone to grams
6020074.92

INPUT     Num: 483 , Indices: quart
Converted quart to milliliters
457088.499

INPUT     Num: 295 , Indices: cubic meter
Converted cubic meter to milliliters
295000000.0

INPUT     Num: 574 , Indices: cubic meter
Converted cubic meter to milliliters
574000000.0

INPUT     Num: 777 , Indices: cubic meter
Converted cubic meter to milliliters
777000000.0

INPUT     Num: 302 , Indices: cubic meter
Converted cubic meter to milliliters
302000000.0

INPUT     Num: 443 , Indices: tsp
Converted teaspoon to milliliters
2183.512

INPUT     Num: 691 , Indices: ml
Converted milliliter to milliliters
691

INPUT     Num: 584 , Indices: cubic meter
Converted cubic meter to milliliters
584000000.0

INPUT     Num: 949 , Indices: pt
Converted pint to milliliters
449044.024

INPUT     Num: 413 , Indices: st
Converted stone to grams
2622669.77

INPUT     Num: 323 , Indices: micrograms
Converted gram to grams
323

INPUT     Num: 90 , Indices: tbsp
Converted tablespoon to milliliters
1330.812

INPUT     Num: 695 , Indices: fluid ounces
Converted fl oz to milliliters
20553.583

INPUT     Num: 576 , Indices: mt
Converted metric ton to grams
576000000.0

INPUT     Num: 992 , Indices: kilograms
Converted kilogram to grams
992000

INPUT     Num: 767 , Indices: teaspoon
Converted teaspoon to milliliters
3780.482

INPUT     Num: 116 , Indices: ounces
Converted ounces to grams
3288.542

INPUT     Num: 929 , Indices: f3
Converted cubic foot to milliliters
26306307.2

INPUT     Num: 425 , Indices: teaspoons
Converted teaspoon to milliliters
2094.791

INPUT     Num: 760 , Indices: microgram
Converted gram to grams
760

INPUT     Num: 104 , Indices: quart
Converted quart to milliliters
98420.712

INPUT     Num: 132 , Indices: s.t.
Converted stone to grams
838238.28

INPUT     Num: 857 , Indices: milliliters
Converted milliliter to milliliters
857

INPUT     Num: 126 , Indices: gram
Converted gram to grams
126

INPUT     Num: 329 , Indices: gal
Converted gallon to milliliters
1245399.89

INPUT     Num: 537 , Indices: cubic inches
Converted cubic inch to milliliters
8799.873

INPUT     Num: 95 , Indices: teaspoons
Converted teaspoon to milliliters
468.247

INPUT     Num: 713 , Indices: teaspoons
Converted teaspoon to milliliters
3514.32

INPUT     Num: 611 , Indices: pound
Converted pound to grams
277144.712

INPUT     Num: 198 , Indices: oz
Converted fl oz to milliliters
5855.553

INPUT     Num: 912 , Indices: oz
Converted fl oz to milliliters
26971.032

INPUT     Num: 935 , Indices: stone
Converted ton to grams
848217975

INPUT     Num: 847 , Indices: lb
Converted pound to grams
384192.424

INPUT     Num: 463 , Indices: ounces
Converted ounces to grams
13125.818

INPUT     Num: 36 , Indices: ton
Converted ton to grams
32658660

INPUT     Num: 959 , Indices: ounce
Converted ounces to grams
27187.171

INPUT     Num: 126 , Indices: kg
Converted kilogram to grams
126000

INPUT     Num: 995 , Indices: cubic inch
Converted cubic inch to milliliters
16305.165

INPUT     Num: 576 , Indices: kilograms
Converted kilogram to grams
576000

INPUT     Num: 702 , Indices: oz
Converted fl oz to milliliters
20760.597

INPUT     Num: 981 , Indices: pint
Converted pint to milliliters
464185.656

INPUT     Num: 570 , Indices: cup
Converted cup to milliliters
136800

In [42]:
pd.options.display.float_format = '{:,.3f}'.format
df

            Volume            Mass
0            0.000     289,000.000
1          315.451           0.000
2            0.000       5,613.201
3        3,529.107           0.000
4       19,725.524           0.000
5            0.000   6,083,577.820
6            0.000         572.000
7            0.000   6,020,074.920
8      457,088.499           0.000
9  295,000,000.000           0.000
10 574,000,000.000           0.000
11 777,000,000.000           0.000
12 302,000,000.000           0.000
13       2,183.512           0.000
14         691.000           0.000
15 584,000,000.000           0.000
16     449,044.024           0.000
17           0.000   2,622,669.770
18           0.000         323.000
19       1,330.812           0.000
20      20,553.583           0.000
21           0.000 576,000,000.000
22           0.000     992,000.000
23       3,780.482           0.000
24           0.000       3,288.542
25  26,306,307.200           0.000
26       2,094.791           0.000
27           0.000         760.000
28      98,420.712           0.000
29           0.000     838,238.280
30         857.000           0.000
31           0.000         126.000
32   1,245,399.890           0.000
33       8,799.873           0.000
34         468.247           0.000
35       3,514.320           0.000
36           0.000     277,144.712
37       5,855.553           0.000
38      26,971.032           0.000
39           0.000 848,217,975.000
40           0.000     384,192.424
41           0.000      13,125.818
42           0.000  32,658,660.000
43           0.000      27,187.171
44           0.000     126,000.000
45      16,305.165           0.000
46           0.000     576,000.000
47      20,760.597           0.000
48     464,185.656           0.000
49     136,800.000           0.000