# Unit Conversion

In [1]:
import pandas as pd
import string

In [2]:
"""
Convert any volume measurement from the current unit to milliliters
"""
def convert_to_ml(num, unit):
    table = str.maketrans({key: None for key in string.punctuation})
    unit = unit.translate(table).lower().strip()
    the_unit = ""
    
    if "gal" in unit:
        the_unit = "gallon"
        weight = 3785.41
    elif "qu" in unit or "qt" in unit:
        the_unit = "quart"
        weight = 946.353 
    elif "pt" in unit or "pint" in unit:
        the_unit = "pint"
        weight = 473.176
    elif "cup" in unit:
        the_unit = "cup"
        weight = 240
    elif "fl" in unit or "oz" in unit:
        the_unit = "fl oz"
        weight = 29.5735
    elif "tbsp" in unit or "table" in unit:
        the_unit = "tablespoon"
        weight = 14.7868
    elif "tsp" in unit or "tea" in unit:
        the_unit = "teaspoon"
        weight = 4.92892
    elif "m3" in unit or "cubic meter" in unit or "meter" in unit:
        the_unit = "cubic meter"
        weight = 1e6
    elif "ml" in unit or "milli" in unit:
        the_unit = "milliliter"
        weight = 1
    elif "liter" in unit or "l" == unit:
        the_unit = "liter"
        weight = 1000
    elif "cubic foot" in unit or "f3" in unit:
        the_unit = "cubic foot"
        weight = 28316.8
    elif "cubic inch" in unit or "in3" in unit:
        the_unit = "cubic inch"
        weight = 16.3871
        
    output = weight * num
    print('Converted', the_unit, 'to milliliters')
    return(output)

In [3]:
"""
Convert any mass measurement to grams
"""
def convert_to_grams(num, unit):
    table = str.maketrans({key: None for key in string.punctuation})
    unit = unit.translate(table).lower().strip()
    the_unit = ""
    
    if "metric ton" in unit or "mt" in unit or "m t" in unit:
        the_unit = "metric ton"
        weight = 1e6
    elif "kilo" in unit or "kg" in unit:
        the_unit = "kilogram"
        weight = 1000
    elif "gram" in unit or "g" == unit:
        the_unit = "gram"
        weight = 1
    elif "milli" in unit or "mg" in unit:
        the_unit = "milligram"
        weight = 0.001
    elif "micro" in unit or "μg" in unit or "mcg" in unit:
        the_unit = "microgram"
        weight = 1e-6
    elif "ton" in unit or "t" == unit:
        the_unit = "ton"
        weight = 907185
    elif "stone" in unit or "st" == unit:
        the_unit = "stone"
        weight = 6350.29
    elif "pound" in unit or "lb" in unit:
        the_unit = "pound"
        weight = 453.592
    elif "ounce" in unit or "ozs" in unit or "oz" in unit:
        the_unit = "ounces"
        weight = 28.3495
        
    output = weight * num
    print('Converted', the_unit, 'to grams')
    return(output)

## Final Conversion Function

In [4]:
"""
Convert the unit, and let the code decide whether the measurement is
volume or mass
"""
def convert(num, unit, df=None, i=None):
    # Eliminate punctuation and notion of case
    table = str.maketrans({key: None for key in string.punctuation})
    unit = unit.translate(table).lower().strip()
    the_unit = ""
    weight = 0
    volume = False
    mass = False
    
    # Testing for volume
    if "gal" in unit:
        the_unit = "gallon"
        weight = 3785.41
        volume = True
    elif "qu" in unit or "qt" in unit or "q" in unit:
        the_unit = "quart"
        weight = 946.353
        volume = True
    elif "pt" in unit or "pint" in unit:
        the_unit = "pint"
        weight = 473.176
        volume = True
    elif "cup" in unit:
        the_unit = "cup"
        weight = 240
        volume = True
    elif "fl" in unit or "oz" in unit:
        the_unit = "fl oz"
        weight = 29.5735
        volume = True
    elif "tbsp" in unit or "table" in unit:
        the_unit = "tablespoon"
        weight = 14.7868
        volume = True
    elif "tsp" in unit or "tea" in unit:
        the_unit = "teaspoon"
        weight = 4.92892
        volume = True
    elif "m3" in unit or "cubic meter" in unit or "meter" in unit:
        the_unit = "cubic meter"
        weight = 1e6
        volume = True
    elif "ml" in unit or "milli" in unit:
        the_unit = "milliliter"
        weight = 1
        volume = True
    elif "liter" in unit or "l" == unit:
        the_unit = "liter"
        weight = 1000
        volume = True
    elif "cubic foot" in unit or "f3" in unit:
        the_unit = "cubic foot"
        weight = 28316.8
        volume = True
    elif "cubic inch" in unit or "in3" in unit:
        the_unit = "cubic inch"
        weight = 16.3871
        volume = True
      
    # Testing for mass
    elif "metric ton" in unit or "mt" in unit or "m t" in unit:
        the_unit = "metric ton"
        weight = 1e6
        mass = True
    elif "kilo" in unit or "kg" in unit:
        the_unit = "kilogram"
        weight = 1000
        mass = True
    elif "gram" in unit or "g" == unit:
        the_unit = "gram"
        weight = 1
        mass = True
    elif "milli" in unit or "mg" in unit:
        the_unit = "milligram"
        weight = 0.001
        mass = True
    elif "micro" in unit or "μg" in unit or "mcg" in unit:
        the_unit = "microgram"
        weight = 1e-6
        mass = True
    elif "ton" in unit or "t" == unit:
        the_unit = "ton"
        weight = 907185
        mass = True
    elif "stone" in unit or "st" == unit:
        the_unit = "stone"
        weight = 6350.29
        mass = True
    elif "pound" in unit or "lb" in unit:
        the_unit = "pound"
        weight = 453.592
        mass = True
    elif "ounce" in unit or "ozs" in unit or "oz" in unit:
        the_unit = "ounces"
        weight = 28.3495
        mass = True
        
    # Convert the unit
    output = weight * num
    if volume:
        print('Converted', the_unit, 'to milliliters')
        if i != None:
            df.loc[i, 'Volume'] = output
            df.loc[i:, 'Mass'] = 0
    elif mass:
        print('Converted', the_unit, 'to grams')
        if i != None:
            df.loc[i, 'Mass'] = output
            df.loc[i:, 'Volume'] = 0
    print(output)
    return(output)

## Conversion Testing

In [5]:
import random

In [6]:
# List of some expected input units to the function
units = ['oz', 'ounces', 'ounce', 'gram', 'grams', 'ml', 'l', 'pound', 'lb',
        'ozs', 'stone', 'st', 's.t.', 'milliliters', 'ton', 't', 'micrograms',
        'microgram', 'kilograms', 'kg', 'kilogram', 'metric ton', 'mt', 'm.t',
        'metric tonne', 'cubic inch', 'cubic inches', 'cubic feet', 'f3', 'in3',
        'liter', 'cubic meter', 'm3', 'tsp', 'teaspoons', 'teaspoon', 'tsbp',
        'tablespoons', 'cup', 'cups', 'c', 'floz', 'fluid oz', 'fluid ounces', 
        'quart', 'qu', 'qt', 'pint', 'pt', 'gallons', 'gal']

# Number of random combinations of measurements and units you'd like to test
tests = 50
# list of random measurements
nums = [random.randint(1, 1000) for i in range(tests)]
# list of random indices to choose units from the "units" list above
indices = [random.randint(0, len(units) - 1) for i in range(tests)]

In [7]:
df = pd.DataFrame(columns=["Volume", "Mass"])
for i in range(tests):
    print("INPUT     Num:", nums[i], ', Indices:', units[indices[i]])
    convert(nums[i], units[indices[i]], df=df, i=i)
    print()

INPUT     Num: 113 , Indices: tsbp
0

INPUT     Num: 742 , Indices: cubic inch
Converted cubic inch to milliliters
12159.2282

INPUT     Num: 478 , Indices: cubic meter
Converted cubic meter to milliliters
478000000.0

INPUT     Num: 789 , Indices: cup
Converted cup to milliliters
189360

INPUT     Num: 666 , Indices: qt
Converted quart to milliliters
630271.098

INPUT     Num: 661 , Indices: l
Converted liter to milliliters
661000

INPUT     Num: 66 , Indices: m3
Converted cubic meter to milliliters
66000000.0

INPUT     Num: 833 , Indices: ounces
Converted ounces to grams
23615.1335

INPUT     Num: 440 , Indices: metric tonne
Converted metric ton to grams
440000000.0

INPUT     Num: 871 , Indices: s.t.
Converted stone to grams
5531102.59

INPUT     Num: 194 , Indices: in3
Converted cubic inch to milliliters
3179.0974

INPUT     Num: 904 , Indices: ton
Converted ton to grams
820095240

INPUT     Num: 944 , Indices: tablespoons
Converted tablespoon to milliliters
13958.7392

INPUT     Num: 884 , Indices: oz
Converted fl oz to milliliters
26142.974

INPUT     Num: 674 , Indices: cubic feet
0

INPUT     Num: 939 , Indices: c
0

INPUT     Num: 649 , Indices: fluid oz
Converted fl oz to milliliters
19193.2015

INPUT     Num: 869 , Indices: qu
Converted quart to milliliters
822380.757

INPUT     Num: 848 , Indices: m3
Converted cubic meter to milliliters
848000000.0

INPUT     Num: 731 , Indices: mt
Converted metric ton to grams
731000000.0

INPUT     Num: 868 , Indices: pint
Converted pint to milliliters
410716.768

INPUT     Num: 470 , Indices: quart
Converted quart to milliliters
444785.91

INPUT     Num: 950 , Indices: quart
Converted quart to milliliters
899035.35

INPUT     Num: 725 , Indices: fluid oz
Converted fl oz to milliliters
21440.7875

INPUT     Num: 263 , Indices: cubic feet
0

INPUT     Num: 219 , Indices: micrograms
Converted gram to grams
219

INPUT     Num: 145 , Indices: f3
Converted cubic foot to milliliters
4105936.0

INPUT     Num: 220 , Indices: liter
Converted liter to milliliters
220000

INPUT     Num: 54 , Indices: kilograms
Converted kilogram to grams
54000

INPUT     Num: 397 , Indices: cubic meter
Converted cubic meter to milliliters
397000000.0

INPUT     Num: 765 , Indices: metric ton
Converted metric ton to grams
765000000.0

INPUT     Num: 341 , Indices: qt
Converted quart to milliliters
322706.37299999996

INPUT     Num: 814 , Indices: kilograms
Converted kilogram to grams
814000

INPUT     Num: 961 , Indices: pt
Converted pint to milliliters
454722.136

INPUT     Num: 676 , Indices: c
0

INPUT     Num: 182 , Indices: kilogram
Converted kilogram to grams
182000

INPUT     Num: 39 , Indices: tsbp
0

INPUT     Num: 864 , Indices: fluid ounces
Converted fl oz to milliliters
25551.504

INPUT     Num: 338 , Indices: lb
Converted pound to grams
153314.096

INPUT     Num: 494 , Indices: ozs
Converted fl oz to milliliters
14609.309

INPUT     Num: 95 , Indices: kilogram
Converted kilogram to grams
95000

INPUT     Num: 769 , Indices: qu
Converted quart to milliliters
727745.4569999999

INPUT     Num: 328 , Indices: t
Converted ton to grams
297556680

INPUT     Num: 724 , Indices: qt
Converted quart to milliliters
685159.5719999999

INPUT     Num: 882 , Indices: c
0

INPUT     Num: 207 , Indices: pint
Converted pint to milliliters
97947.432

INPUT     Num: 852 , Indices: s.t.
Converted stone to grams
5410447.08

INPUT     Num: 905 , Indices: cubic meter
Converted cubic meter to milliliters
905000000.0

INPUT     Num: 236 , Indices: ounces
Converted ounces to grams
6690.482

INPUT     Num: 637 , Indices: cubic meter
Converted cubic meter to milliliters
637000000.0

In [8]:
df

         Volume         Mass
1       12159.2            0
2      4.78e+08            0
3        189360            0
4        630271            0
5        661000            0
6       6.6e+07            0
7             0      23615.1
8             0      4.4e+08
9             0   5.5311e+06
10       3179.1            0
11            0    820095240
12      13958.7            0
13        26143            0
16      19193.2            0
17       822381            0
18     8.48e+08            0
19            0     7.31e+08
20       410717            0
21       444786            0
22       899035            0
23      21440.8            0
25            0          219
26  4.10594e+06            0
27       220000            0
28            0        54000
29     3.97e+08            0
30            0     7.65e+08
31       322706            0
32            0       814000
33       454722            0
35            0       182000
37      25551.5            0
38            0       153314
39      14609.3            0
40            0        95000
41       727745            0
42            0    297556680
43       685160            0
45      97947.4            0
46            0  5.41045e+06
47     9.05e+08            0
48            0      6690.48
49     6.37e+08            0